@charset "utf-8";
/* CSS Document */
html,body,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,ol,p,select,td,textarea,th,ul,li{padding:0;margin:0;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
body{font-family:"微软雅黑";}
ul,ol,li{list-style:none;}
a,u{text-decoration:none;}
/*b,strong{font-weight:100;}*/
i,em,b{font-style:normal;}

img{border:0;display:block;}
input{outline:none;}
.clearfix:after{content: ".";clear: both;display: block;height: 0;overflow: hidden;visibility:hidden;}
.clearfix{zoom:1;}

